#!/bin/sh
#Author: <%=context[:header][:manufacturer].join.sub(/^\s*/,'')%>
#Cape name: <%=context[:header][:name].join.sub(/^\s*/,'')%>
#Cape version: <%=context[:header][:version].join.sub(/^\s*/,'')%>

<%context[:pin_info].each do |pi| if (pi[:used]>0)
mux=0
mux|=0x40 if pi[:slew_rate]>0
mux|=0x20 if pi[:rx]>0 || pi[:dir]==1
mux|=0x10 if pi[:pull]>0
mux|=0x08 if pi[:pen] ==0
mux|=pi[:mux_mode] & 0x7
%>
# <%=pi[:name]%>
# slew_rate: <%=pi[:slew_rate]%>
# rx: <%=pi[:rx]%>
# dir: <%=pi[:dir]%>
# pull: <%=pi[:pull]%>
# pen: <%=pi[:pen]%>
# mode: <%=pi[:mux_mode]%>
echo <%=mux.to_s(16)%> > /sys/kernel/debug/omap_mux/<%=pi[:modes].find{|m| m[1]==0}[0]%>
<%end;end%>

